@page
@model MyWorkout.Web.Pages.WorkoutPlans.DetailsModel
@{
}

<div class="card">
    <h4 class="h4 text-center">@Model.WorkoutPlan.Title</h4>
    <div class="row">
        <div class="col-md-3">
            <img class="w-100 mb-2" src="~/images/workoutPlan_covers/@(Model.Id).jpg" />
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Description</dt>
                <dd class="col-md-8">@Model.WorkoutPlan.Description</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Exercises</dt>
                @foreach (var exercise in Model.Exercises)
                {
                    <li class="list-group-item">@exercise.Title</li>
                }
            </dl>
        </div>
    </div>


    <div class="row">
        <div class="col">
            @foreach (var comment in Model.Comments)
            {
                <div class="card card-white post">
                    <div class="post-heading">
                        <div class="float-left image">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="float-left meta">
                            <div class="title h5">
                                <a href="#"><b>@comment.UserName</b></a>
                                made a post.
                            </div>
                            <h6 class="text-muted time">@comment.CreatedAt<h6>
                        </div>
                    </div>
                    <div class="post-description">
                        <p>@comment.Text</p>

                    </div>
                </div>
            }
        </div>

    </div>

</div>
