@page "/Workouts"
@model MyWorkout.Web.Pages.WorkoutPlans.IndexModel


<div class="row">


    @foreach (var plan in Model.WorkoutPlans.Results)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3 d-flex">
            <div class="card">
                <img class="card-img-top" src="~/images/workoutPlan_covers/@(Model.LoadImage(plan.Id))"
                     alt="@plan.Title" title="@plan.Title"  width="230" height="350"/>
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-page="/WorkoutPlans/Details" asp-route-id="@plan.Id">@plan.Title</a>
                    </h5>
                    <h6 class="card-subtitle">
                        @plan.UserName
                    </h6>
                </div>
            </div>
        </div>
    }
</div>
