@page "/Workouts"
@model MyWorkout.Web.Pages.WorkoutPlans.IndexModel


<div class="row">

    <vc:pager page-size="@Model.WorkoutPlans.PageSize"
              page-number="@Model.WorkoutPlans.PageNumber"
              all-results-count="@Model.WorkoutPlans.AllResultsCount"
              pages-to-show="3">
    </vc:pager>

    @foreach (var plan in Model.WorkoutPlans.Results)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3 d-flex">
            <div class="card">
                <img class="card-img-top" src="~/images/workoutPlan_covers/blank.jpg"
                     alt="@plan.Title" title="@plan.Title" />
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-page="/WorkoutPlans/Details" asp-route-id="@plan.Id">@plan.Title</a>
                    </h5>
                    <h6 class="card-subtitle">
                        @plan.UserName
                    </h6>
                </div>
            </div>
        </div>
    }
</div>
